*.pdb
*.ilk
/src/HerbGather/*.suo
/src/HerbGather/*.ncb
*.user
*.obj
*.ncb
/src/swf2jpg/Debug
*.suo
src/swf2jpg/bin/swf2jpg.exe
/src/dllloader_wh_mouse/.vs
/src/dllloader_wh_mouse/Debug
/src/dllloader_wh_mouse/HookDll/x64
/src/dllloader_wh_mouse/HookDll/Debug
/src/dllloader_wh_mouse/HookDll/*.aps
/src/dllloader_wh_mouse/HookLoader/Debug
/src/dllloader_wh_mouse/HookLoader/x64
*.htm
*.pch
*.dep
*.idb
*.exp
src/DllLoader_WH_MOUSE/bin/HookDll.lib
*.aps
/vs/getPythonSetEnv/Debug
